/AnagramGame/nbproject/private/
/AnagramGameMaven/org.wordlibrary.animal/target/
/AnagramGameMaven/com.wordlibrary/target/
/AnagramGameMaven/com.toy.anagram/target/
/AnagramGameMaven/org.wordlibrary.names/target/
/JavaFX/HelloFX/target/